.cdtproject
.project
.settings/org.eclipse.cdt.core.prefs
*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/config.h
src/config.h.in
src/stamp-h1
src/.libs/
src/btlogger
src/log.o
src/main.o
src/marshal.o
src/scan.o
src/tweet.o
*.tar.gz
